.postsBlock{
    padding: 10px;
    border: 1px solid #5AA9E6;
    border-radius: 25px;
    background: #5AA9E6;
    margin-top: 15px;
    padding-bottom: 25px;
    box-shadow: black;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}
.posts{
    margin-top: 10px;
}
